In [62]:
from urllib.parse import urlencode, quote_plus
import requests
import pandas as pd
import numpy as np
from io import StringIO

names = [
    'Исаков Илья Владимирович',
    'Мелик-Заде Сергей Алексеевич',
    'Барановский Александр Александрович',
    'Иван',
    'Сотников Игорь Олегович',
    'Степанов Василий Владимирович',
    'Хасанов Тимур Равильевич',
    'Предеин Сергей',
]

base_url="https://docs.google.com/spreadsheets/d"
sheet_key="1NSdcHzMy_KoFx6hSZUuXUTwW5X6xsFY-POW2wQ4jjjs"
sheet_id="1465042576"
service="gviz/tq?"
query="select * where (" + " OR ".join([("A='" + name + "'") for name in names]) +")"

payload = {'tqx':'out:csv',
           'sheet':sheet_id,
           'tq':query}
encoded = urlencode(payload, quote_via=quote_plus)
sheet_url = "/".join([base_url,sheet_key,service]) + encoded

#print (sheet_url)
r = requests.get(url=sheet_url)
#print(r.text)

df = pd.read_csv(StringIO(r.text))
df = df[np.hstack((['ФИО'], df.columns.values[1:][df.describe().loc['count'] > 0]))]
df.set_index('ФИО')

                                     ДЗ1  ДЗ2  ДЗ3   ДЗ4  ИТОГ
ФИО
Исаков Илья Владимирович              10   10   10  18.0    48
Мелик-Заде Сергей Алексеевич          10   10   10  18.0    48
Барановский Александр Александрович   10   10    8  18.0    46
Иван                                  10   10   10  14.0    44
Сотников Игорь Олегович               10   10   10  14.0    44
Степанов Василий Владимирович          9    8    8  18.0    43
Хасанов Тимур Равильевич               9   10    6  10.0    35
Предеин Сергей                         9   10    6   NaN    25